h1{
    color:red;
    
    font-size:56px;
}
#startBtn{
    margin-right:40%;
    margin-left:40%;
    width:20%;
}
#startOverBtn{
    margin-right:40%;
    margin-left:40%;
    width:20%;
    text-align:center;
    font-size:28px;
    color:white;
    background-color:blue;

}
body{
    background-image: url(../images/triviabg.jpg);
    height:100%;
   width:100%;
}
#instructions{
    color:orangered;
    font-size: 24px;
    text-align: center;
}
.question{
    text-align:center;
    color: chartreuse;
}
.answerList{
    text-align:center;
    color: deeppink;
    font-size: 28px;
    
}

#timeLeft{
color: chartreuse;
text-align:center;
}
#currentQuestion{
color:orange;
font-size:28px;
}
#message{
color: yellow;
font-size: 28px;
text-align:center;
}
#correctedAnswer{
color: turquoise;
font-size: 28px;
}

#finalMessage{
color: turquoise;
font-size: 28px;
}
#correctAnswers{
    color: turquoise;
    font-size: 28px;
}
#incorrectAnswers{
    color: turquoise;
    font-size: 28px;
}
#unanswered{
    color: turquoise;
    font-size: 28px;
}
#gif{
    text-align: center;
}